<!--Presentacion-->
<section class="mifotito mt-5">  
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <img zise 10 src=".assert/Img/Foto de perfil.jpg" alt="Mi fotito de perfil" class="rounded-circle img-fluid float-left img-profile" >
        </div>
        <div class="col-9 mt-5 pt-5">
           <h2 mt-3 pt-5 class=text-center> Hola,te cuento que estoy casada y tengo dos hijos. Me considero una persona persistente, alguien que va amas alla de los limites. Doy lo mejor de mi, soy compañera.
           </h2>
        </div>
         </div>
    </div>
  </section>
  <!--fin presentacion-->