<!-- formacion academica -->
class="formacion mt-2 mt-5"
    <div class="container-fluid text-center"> 
      <h2 Class="text-center mt-5"> Formacíon academica</h2>
        <div class="row-3">
      <h3>Realice la secundaria en la Escuela Tecnica Nº1, en Posadas, EGB con orientacion en Economia y Gestion de las organizacion y Técnico en Informática Personal y Profesional. <br> Realice capacitaciones: Secretaria administrativa, Operador de Pc antes de terminar la secundaria. <Br> Curse parcialmete la carrea en Lic. en Sistema de Informacion en la localidad de Apostoles. Por otra parte realice materias del terciario Tecnico Universitario Administrativo "TUAC" ambas carreras en la Univerdidad de Nacional de Misiones. </h3>
    </div>

  <!-- fin formacion academica -->