<nav class="navbar fixed-top line-height:0 ">
    <div class="container-fluid line-height">            
      <a class="navbar-center line-height:0" href="#">
        <img src="./assets/Img/Baner.png" alt="" > 
             </a>
         <!--redes sociales y boton de ingresar-->
         <app-redes></app-redes>
         <i data-bs-toggle="modal" data-bs-target="#ingresoModal" class="fa-solid fa-user-lock fa-2x text-ligth"></i>
          <app-login></app-login>
    </div>
  </nav>
  <app-login></app-login>
