<ul class="list-group list-group-horizontal">
    <li class="list-group-item">  href="https://www.facebook.com/libertadglo" target=_blank"><i class="fa-brands fa-square-facebook fa-2x text-ligth "></i></li>
    <li class="list-group-item">  href="https://www.instagram.com/libertadglo" target=_blank"><i class="fa-brands fa-instagram fa-2x text-ligth"></i></li>
    <li class="list-group-item">

        <!-- Buton para ingresar -->
         <i data-bs-toggle="modal" data-bs-target="#ingresoModal" class="fa-solid fa-user-lock fa-2x text-ligth"></i>
         </li>
</ul> 