
    <h2 class="text-center mt-5">Habilidades</h2>  
      <div class="container-fluid text-left mt-3">
        <div class="row d-flex justify-content-center mt-100">
          <div class="col-md-9">
                <div class="container-fluid text-left mt-3">
                  <div class="col-md-9">
                    <div class="container-fluid text-left">
                      <h4 >HTML</h4>
                      <div class="progress blue">
                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">70%</div>
                      </div>
                    </div>
                    <div class="container-fluid text-left">
                      <h4 > CSS</h4>
                        <div class="progress rosa">
                          <span class="progress-left">
                                          <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                                          <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">30%</div>
                        </div>
            </div>
                    <div class="container-fluid text-left">
                      <h4 >JAVA</h4>
                      <div class="progress verde">
                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">75%</div>
                      </div>
                    </div>
                    <div class="container-fluid text-left">
                      <h4 > VISUAL BASIC</h4>
                        <div class="progress orange">
                          <span class="progress-left">
                                          <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                                          <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">75%</div>
                        </div>
    </div>
      </div>
