<!-- experiencias laborales -->
 class="formacion mt-2 mt-3"
    <div class="container-fluid text-left"> 
      <div class="row-3">
        <h2 Class="text-center mt-5" >Experiencias Laborales</h2>
            <ul class="list-group">
              <li class="list-group-item "><h3>Desarrolle un sistema de alertas y recordatorios para la cobranza a cliente para una empresa Mexicana dedicada a brindar servicios de internet Satelital</h3></li>
              <li class="list-group-item"><h3>Realice atencion al publico en un predio de ventas llamado "La placita"</h3></li>
              <li class="list-group-item"><h3>Realice ventas de prodcutos cosmeticos, utencillos de cocina en forma independiente</h3></li>
              <li class="list-group-item"><h3>Trabaje atendiendo la fotocopiadora de la Facultad de Cincias Exactas Quimicas y Naturales de Apostoles, durante mi cursado.</h3></li>
              <li class="list-group-item"><h3>Lleve a cabo trabajo de secretaria en un consultorio odontologico</h3></li>
            </ul>            
  </div>
